section {
  background-color: #423ca3;
  color: #fff;
  font-family: "Abhaya Libre", serif;
}

.btn {
  background-color: #15114c;
  color: #fff;
  border-color: #15114c;
}

.masthead {
  font-weight: bold;
}
