.masthead {
  background-color: #423ca3;
  color: #fff;
}

.btn {
  background-color: #15114c;
  color: #fff;
  border-color: #15114c;
  padding-top: .1rem;
  padding-bottom: .1rem;
}

.btn:hover {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}

html {
  font-family: "Abhaya Libre", serif;
}

.logo {
}

h1 {
  text-align: center;
}

ul {
  text-align: center;
}

@media only screen and (min-width: 60em) {

  header {
    text-align: left;
  }

  ul {
    text-align: right;
  }
}
